.Rproj.user
.Rhistory
.RData
_publish.R
_book
_bookdown_files
rsconnect
attendance
Quizzes
HomeworkSolutions
attendance_app
.DS_Store
Homework/.DS_Store
data/.DS_Store
quiz_scores/*
homework_scores/*
*/*.log
*/*.gz

